<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="outline" name="outline Name" schema="schema/outline.exsd"/>

   <extension
         id="javahexeditorIdentifier"
         name="javahexeditorName"
         point="org.eclipse.ui.editors">
      <editor
            class="net.sourceforge.javahexeditor.plugin.editors.BinaryEditor"
            contributorClass="net.sourceforge.javahexeditor.plugin.editors.HexEditorActionBarContributor"
            extensions="a,bin,cab,class,com,dat,data,drv,dll,exe,hex,iso,jar,lib,o,out,part,pdf,png,ram,res,rom,sys,txt,zip"
            icon="icons/hex.png"
            id="net.sourceforge.javahexeditor"
            name="Hex Editor">
         <contentTypeBinding
               contentTypeId="javahexeditor.binaryFile">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Editors"
            class="net.sourceforge.javahexeditor.plugin.editors.PreferencesPage"
            id="net.sourceforge.javahexeditor.plugin.editors.PreferencesPage"
            name="Java Hex Editor"/>
   </extension>
   <extension
         id="javahexeditorHelpExtensionId"
         name="javahexeditorHelpExtensionName"
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="javahexeditor.objectContribution1"
            objectClass="org.eclipse.core.runtime.IAdaptable">
         <action
               class="net.sourceforge.javahexeditor.plugin.actions.FileOpenAction"
               enablesFor="+"
               icon="icons/hex.png"
               id="javahexeditor.fileopen.menu"
               label="Open with Hex Editor"
               menubarPath="additions"
               style="push"
               tooltip="Open the Hex Editor for selected files">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            file-extensions="bin"
            id="javahexeditor.binaryFile"
            name="Binary File (Java Hex Editor)"
            priority="high">
      </content-type>
      <content-type
            base-type="javahexeditor.binaryFile"
            file-extensions="jar,cab,zip,rar,7z"
            id="javahexeditor.archiveFile"
            name="Archive"
            priority="normal">
      </content-type>
      <content-type
            base-type="javahexeditor.binaryFile"
            file-extensions="exe,elf,out,com,abs"
            id="javahexeditor.executableFile"
            name="Executable"
            priority="high">
      </content-type>
      <content-type
            base-type="javahexeditor.binaryFile"
            file-extensions="o,obj"
            id="javahexeditor.objectFile"
            name="Object"
            priority="normal">
      </content-type>
      <content-type
            base-type="javahexeditor.binaryFile"
            file-extensions="dll,dylib,so"
            id="javahexeditor.sharedLibFile"
            name="Shared Library"
            priority="normal">
      </content-type>
      <content-type
            base-type="javahexeditor.binaryFile"
            file-extensions="a,lib"
            id="javahexeditor.staticLibFile"
            name="Static Library"
            priority="normal">
      </content-type>
      <content-type
            base-type="javahexeditor.binaryFile"
            file-extensions="class,dat,data,drv,hex,iso,part,pdf,png,ram,res,rom,sys,txt"
            id="javahexeditor.miscFile"
            name="Miscellaneous"
            priority="low">
      </content-type>
   </extension>

</plugin>
